@use 'variables' as vars;
@use './libs/normalize';
@use 'product';
@use 'header';

body {
  background-color: vars.$background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
  min-height: 500px;
  padding: 10px;

  @media (max-width: 820px) {
    margin: 0;
    width: 100%;
  }
}
.content {
  margin-inline: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 450px);
  gap: 10px;
  padding-bottom: 30px;
  text-align: center;
  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1060px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 730px) {
    grid-template-columns: 1fr;
  }
}
.notfoundblock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  min-height: 500px;
}
